.header {
  background-color: var(--black);
}

.header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em 5em;
  width: 100%;
}

.left-side {
  align-items: center;
  display: flex;
  gap: 7px;
}

.left-side svg {
  margin: auto;
  stroke: var(--white);
}

.quiz-master h1 {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}

.right-side {
  align-items: center;
  display: flex;
}

.right-text p {
  color: var(--white);
  font-size: 16px;
  margin-right: 20px;
}
.right-text {
  display: flex;
  gap: 10px;
}
.search-quiz {
  align-items: center;
  background-color: var(--black);
  border: none;
  display: flex;
  gap: 5px;
}
.search-quiz svg {
  stroke: var(--white);
}
.log {
  align-items: center;
  background-color: var(--black);
  border-radius: 4px;
  border: 1px solid var(--white);
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  gap: 5px;
  margin-left: 10px;
  padding: 8px 12px;
}

.log:hover {
  background-color: var(--white);
  color: var(--black);
}

@media (max-width: 768px) {
  .header-container {
    align-items: center;
    flex-direction: column;
  }

  .right-side {
    margin-top: 10px;
  }

  .right-text p {
    font-size: 14px;
  }
}
