.input-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin: 20px 0;
  width: 100%;
}

.input-container label {
  align-items: center;
  color: var(--black);
  display: flex;
  font-size: 17px;
  font-weight: bold;
}

.input-container input {
  background-color: var(--white);
  border-radius: 4px;
  border: 1px solid var(--gray-light);
  box-shadow: 2px 2px 6px var(--shadow);
  box-sizing: border-box;
  color: var(--text-dark);
  font-size: 16px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

.input-container input:focus {
  border-color: var(--blue);
  box-shadow: 0 0 0 2px var(--blue);
}

.input-container input::placeholder {
  font-size: 14px;
  color: var(--gray);
}
