.modal-backdrop {
  position: fixed;
  inset: 0;
  background: var(--background-black);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.signin-modal {
  background: var(--white);
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
  stroke: var(--grey);
}

.btn-sign-in {
  background-color: var(--blue);
  color: var(--white);
  width: 100%;
  padding: 6px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-message {
  color: var(--red);
  margin: 5px;
}
